<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Certificaciones del servicio</title>
    <link
      href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700'
      rel='stylesheet'
      type='text/css'
    />

    <style>
      body { font-family: 'Montserrat', sans-serif; font-size: 15px; color:
      #333; }
    </style>
  </head>
  <body
    style='
      font-family: "Montserrat", sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 20px 0;
    '
  >
    <div
      style='
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      '
    >
      <h2>Certificaciones del servicio</h2>
      <p>
        Estimados compañeros de
        {{clientName}}, reciba saludos cordiales de nuestra parte y los mejores
        deseos de éxito en sus labores y actividades.
      </p>
      <p>Agradecemos de antemano la confianza depositada en nosotros, para
        formar parte de su cadena de calidad en sus procesos y actividades. Este
        correo es para compartir los certificados correspondientes al servicio
        brindado, estos se encuentran compartidos a través de archivos
        adjuntados en el cuerpo del correo, los certificados correspondientes se
        encuentran en formato .PDF y estarán debidamente firmados, sellados y
        serán protegidos con contraseña, para evitar modificaciones o
        manipulaciones inadecuadas, después de su emisión.
      </p>

      <p>Si tiene dudas o comentarios, quedamos atentos a cualquier consulta y/o
        modificación de ser necesario, con gusto le atendemos, recuerde que
        nuestro objetivo es brindarle un servicio de calidad a como usted se
        merece.
      </p>

      <p>Sin más a que hacer referencia y quedando atento a sus comentarios, me
        despido cordialmente de usted.
      </p>

      <p>Saludos.</p>
    </div>
    <p
      style='
        font-size: 12px;
        color: tomato;
        text-align: center;
        margin-top: 50px;
      '
    >Este mensaje fue enviado automáticamente, por favor no responda.</p>
  </body>
</html>