<html>
  <head>
    <meta charset='utf-8' />
    <title>
      Cotización de servicios en Metrología Consultores de Nicaragua S.A.
    </title>

    <link
      href='https://fonts.googleapis.com/css?family=Montserrat:400,700'
      rel='stylesheet'
      type='text/css'
    />
  </head>
  <body
    style='
      font-family: "Montserrat", sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 20px 0;
    '
  >
    <div
      style='
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      '
    >
      <p
        style='
      font-weight: bold;
      '
      >Estimado cliente reciba saludos cordiales de nuestra parte y los mejores
        deseos de éxito en sus labores y actividades.</p>

      <p>Nos complace informarle que en nuestro laboratorio Metrocal, como parte
        de la mejora continua, hemos realizado una actualización en nuestro
        sistema de solicitud de cotizaciones, en el cual ahora el cliente puede
        interactuar en un entorno de manera amigable e intuitiva, para poder
        realizar sus solicitudes de servicio de manera más ágil y eficiente, de
        esta manera queremos garantizar la reducción del tiempo de respuesta en
        cuanto a la presentación de las cotizaciones de servicio a nuestros
        clientes, dando respuesta oportuna a sus solicitudes y requisitos,
        recuerde que nuestro objetivo es brindarle un servicio de calidad a como
        usted se merece</p>

      <p>
        La oferta será elaborada de acuerdo a lo solicitado por usted en nuestra
        plataforma de servicios, se requiere que los campos sean completados en
        su totalidad, ya que esto garantiza una información fiable y correcta,
        para evitar errores en la documentación que se genera a partir del
        servicio. Una vez realizada la solicitud de servicio, le será remitida
        en formato. Pdf, la oferta del servicio correspondiente a su solicitud,
        de aprobar el servicio, favor dar click en aprobar servicio, si su
        sistema de gestión lo requiere, debe generar orden de compra o enviar
        vía correo electrónico la cotización remitida, debidamente firmada y
        sellada en vista de su aprobación.
      </p>

      <p>Para realizar la solicitud de un servicio favor dar click en el
        siguiente botón:
      </p>

      <a
        href='{{linkToNewQuote}}'
        style="
            background-color: #09f;
            border: none;
            color: white;
            padding: 15px 10px;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            font-weight: bold;
          "
      >Crear una cotización</a>

      <p>Si tiene dudas o comentarios, quedamos atentos a cualquier consulta y/o
        modificación de ser necesario, con gusto le atendemos, recuerde que
        nuestro objetivo es brindarle un servicio de calidad a como usted se
        merece.
      </p>

      <p>Sin más a que hacer referencia y quedando atento a sus comentarios, me
        despido cordialmente de usted.
      </p>

      <p>Saludos.</p>
    </div>

    <p
      style='
        font-size: 12px;
        color: tomato;
        text-align: center;
        margin-top: 50px;
        '
    >Este mensaje fue enviado automáticamente, por favor no responda.</p>

  </body>
</html>