<html>
  <head>
    <meta charset='utf-8' />
    <title>
      Te invitamos a cotizar con Metrocal
    </title>

    {{! font family }}
    {{! montserrat }}
    <link
      href='https://fonts.googleapis.com/css?family=Montserrat:400,700'
      rel='stylesheet'
      type='text/css'
    />
  </head>
  <body>
    <h1>
      Te invitamos a que hagas una cotización con nosotros
    </h1>
    <p>Estimado usuario</p>
    <p>¡Gracias por su interés en Metrocal!</p>
    <p>Nos complace invitarlo a cotizar nustros servicios. Estamos seguros de
      que podemos ofrecerle el mejor precio y la mejor calidad
    </p>
    <p>Nuestro equipo de profesionales está altamente cualificado y está
      comprometido a ofrecer a nuestros clientes el mejor servicio posible</p>

    <a
      href='{{linkToNewQuote}}'
      style='
        background-color: #09f;
        border: none;
        color: white;
        padding: 6px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
      '
    >IR A COTIZAR</a>

    <p>Si tiene alguna pregunta o necesita más información, no dude en ponerse
      en contacto con nosotros a través de nuestro correo electrónico o número
      de teléfono.</p>

    <p>Correo electrónico:
      <a href='mailto:info@metrocal.co.ni'>info@metrocal.co.ni</a>
    </p>

    <a href='tel:+50512345678'>+505 22490758</a>

    <p>Gracias por su atención.</p>
    <p>Atentamente, METROCAL.</p>

    <p
      style='
        font-size: 12px;
        color: tomato;
        text-align: center;
        margin-top: 50px;
      '
    >Este mensaje fue enviado automáticamente, por favor no responda.</p>

  </body>
</html>