<style>
  * { margin: 0; padding: 0; box-sizing: border-box; } body { padding: 1em; }
  header { width: 100%; font-size: 11px; font-family: 'Montserrat', sans-serif;
  display: flex; justify-content: space-between; padding: 0 10px; width: 8.5in;
  }
</style>

<header>
  <div style='display: flex; flex-direction: column'>
    <img
      src='{{metrocalLogo}}'
      style='width: 70px; height: 70px; object-fit: contain'
    />
  </div>

  <div
    style='
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #222;
      width: calc(100% - 20px);
      height: 61px;
    '
  >
    <h3>METROLOGÍA CONSULTORES DE NICARAGUA, S.A</h3>
    <h3>RUC : J0310000169420</h3>
    <h3>COTIZACIÓN DE SERVICIOS</h3>
  </div>
  <div
    style='
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: #222;
      width: 108px;
    '
  >
    <h3>Código</h3>
    <h4>NI-R02-MCPR-02</h4>
  </div>
</header>