<style>
  header {
    width: 100%;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
  }
</style>

<header>
  <div class="logo">contenido del logo de la empresa</div>

  <div class="id_certificate">
    <strong><span>Identificación del certificado:</span></strong>
    <strong style="margin-left: 10px"
      ><span>{{equipment_information.certification_code}}</span></strong
    >
  </div>
</header>
