<style>
  * { margin: 0; padding: 0; box-sizing: border-box; } body { padding: 1em; }
  header { width: 100%; font-size: 11px; font-family: 'Montserrat', sans-serif;
  display: flex; justify-content: space-between; padding: 0 10px; width: 8.5in;
  }
</style>

<header>
  <div style='display: flex; flex-direction: column'>
    <img
      src='{{metrocalLogo}}'
      style='
        border: 1px solid #222;
        width: 70px;
        height: 40px;
        object-fit: contain;
      '
    />
    <small
      style='
        width: 70px;
        text-align: center;
        border-bottom: 1px solid #222;
        border-left: 1px solid #222;
        border-right: 1px solid #222;
        padding: 4px 2px;
        font-size: 6px;
      '
    >Metrología Consultores de Nicaragua, S.A.</small>
  </div>
  {{#if creditable}}
    <div
      style='
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #222;
      border-top: 1px solid #222;
      border-bottom: 1px solid #222;
      width: 100%;
      height: 61px;
    '
    >
      <h3>Certificado de Calibración</h3>
      <h4>NI-MCCC-01</h4>
    </div>
    <div>
      <img
        src='{{onaLogo}}'
        style='
        width: 70px;
        height: 61px;
        object-fit: contain;
        border: 1px solid #222;
      '
      />
    </div>
  {{else}}
    <div
      style='
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #222;
      border-top: 1px solid #222;
      border-bottom: 1px solid #222;
      width: calc(100% - 20px);
      height: 61px;
    '
    >
      <h3>Certificado de Calibración</h3>
    </div>
    <div
      style='
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: #222;
      border: 1px solid #222;
      width: 90px;
    '
    >
      <h3>Código</h3>
      <h4>NI-MCCC-01</h4>
    </div>
  {{/if}}
</header>