<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VAR_NOMBRE_REPORTE</title>
    <style>
        @page {
            size: A4;
            margin: 0;
        }

        html,
        body {
            width: 210mm;
            height: 297mm;
            margin: 0;
            padding: 0;
        }

        .content {
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 1px;
            text-align: center;
        }

        .additional-table {
            width: 95%;
            border-collapse: collapse;
            margin: 15px;
        }

        .additional-table>thead>tr>th {
            border: 1px solid black;
            text-align: center;
            font-size: 0.8em;
            font-weight: bold;
        }

        .additional-table>tbody>tr>td {
            border: 1px solid black;
            text-align: center;
            font-size: 0.8em;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            margin: 15px;
        }

        .grid-item {
            text-align: left;
            font-size: 0.8em;
        }

        .grid-item-table-header {
            margin-top: 20px;
            grid-column: span 2;
            /* Esto hace que el encabezado abarque las dos columnas */
            font-weight: bold;
            /* Esto hace que el encabezado esté en negrita */
        }

        .grid-two-tables {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            margin: 15px;
        }

        .grid-four-columns {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;
            margin-top: 25px;
        }

        .grid-item-dash-line {
            border: 1px dashed black;
            width: 100%;
            grid-column: span 4;
        }

        .grid-item-line {
            border: 1px solid black;
            width: 100%;
            grid-column: span 4;
        }

        .grid-item-address {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            font-size: 0.8em;
            font-weight: bold;
        }

        .grid-item-address>p {
            margin: 0px;
        }

        .grid-item-email-web-page {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .grid-item-phone-id {
            text-align: center;
            width: 100%;
            grid-column: span 4;
            display: flex;
            justify-content: space-between;
        }

        .title-container {
            width: 100%;
            text-align: center;
            font-weight: bold;

        }

        .title {
            margin: 0px;
            margin-bottom: 5px;
        }

        .table-external>thead>tr>th {
            border: 1px solid black;
            text-align: center;
            font-weight: bold;
        }

        .head-nominal-name {
            padding: 5px;
            width: 21%;
        }

        .head-lecture-name {
            padding: 5px;
            width: 25%;
        }
    </style>
</head>

<body>
    <div class="content">

        <table>
            <tr>
                <td>Image Logo</td>
                <td>
                    <p><b>Certificado de Calibración</b></p>
                </td>
                <td>
                    <p><b>Código</b></p>
                    <h3><b>NI-MCCC-01</b></h3>
                </td>
            </tr>
        </table>

        <div class="grid">

            <div class="grid-item"><b>Identificación del certificado:</b></div>
            <div class="grid-item"><b>{{ equipment_information.certification_code }}</b></div>

            <div class="grid-item"><b>Código de servicio:</b></div>
            <div class="grid-item">{{equipment_information.service_code}}</div>

            <div class="grid-item"><b>Fecha de calibración:</b></div>
            <div class="grid-item">{{equipment_information.calibration_date}}</div>

            <div class="grid-item"><b>Fecha de emisión del certificado:</b></div>
            <div class="grid-item">VAR_2024-04-16</div>

            <div class="grid-item"><b>Objeto de calibración:</b></div>
            <div class="grid-item">VAR_Vernier Digital</div>

            <div class="grid-item"><b>Fabricante/Marca:</b></div>
            <div class="grid-item">VAR_Mitutoyo</div>

            <div class="grid-item"><b>Fabricante/Marca:</b></div>
            <div class="grid-item">VAR_Mitutoyo</div>

            <div class="grid-item"><b>Serie:</b></div>
            <div class="grid-item">VAR_59869956</div>

            <div class="grid-item"><b>Modelo:</b></div>
            <div class="grid-item">VAR_Quantum Mike</div>

            <div class="grid-item"><b>Rango de medida:</b></div>
            <div class="grid-item">VAR_0 mm a 150 mm</div>

            <div class="grid-item"><b>Resolución:</b></div>
            <div class="grid-item">VAR_0.01 mm</div>

            <div class="grid-item"><b>Código de identificación:</b></div>
            <div class="grid-item">VAR_562263321</div>

            <div class="grid-item"><b>Solicitante:</b></div>
            <div class="grid-item">VAR_0</div>

            <div class="grid-item"><b>Dirección del solicitante:</b></div>
            <div class="grid-item">VAR_km 4,5 Carretera Norte</div>

            <div class="grid-item"><b>Lugar de calibración:</b></div>
            <div class="grid-item">VAR_Laboratorio #1 Metrocal</div>

            <div class="grid-item-table-header" id="tableDesc"><b>Resultados de la calibración</b></div>

        </div>

        <table class="additional-table" aria-describedby="tableDesc">
            <thead>
                <tr>
                    <th style="width: 12%;">Puntos de Calibración</th>
                    <th>Valor Nominal</th>
                    <th>Valor Real</th>
                    <th>Lectura Actual</th>
                    <th>Desviación</th>
                    <th style="width: 20%;">Incertidumbre Expandida <br /> k=2</th>
                </tr>
                <tr>
                    <th>(mm)</th>
                    <th>(μm)</th>
                    <th>(mm)</th>
                    <th>(μm)</th>
                    <th>(mm)</th>
                    <th>(μm)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.2</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.2</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.2</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.2</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.0</td>
                    <td>8.2</td>
                </tr>
            </tbody>
        </table>

        <div class="grid-two-tables">

            <div class="grid-item">
                <div class="title-container">
                    <h4 class="title" id="titleTableExt">Caras de medición de exteriores</h4>
                </div>
                <table class="table-external" aria-describedby="titleTableExt">
                    <thead>
                        <tr>
                            <th rowspan="2">Puntos</th>
                            <th class="head-nominal-name">Valor nominal</th>
                            <th class="head-lecture-name">Lectura actual</th>
                            <th>Desviación</th>
                        </tr>
                        <tr>
                            <th>(mm)</th>
                            <th>(mm)</th>
                            <th>(μm)</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Superior</td>
                            <td rowspan="2">0</td>
                            <td>0.00</td>
                            <td rowspan="2">0.00</td>
                        </tr>
                        <tr>
                            <td>Inferior</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <td>Superior</td>
                            <td rowspan="2">0</td>
                            <td>0.00</td>
                            <td rowspan="2">0.00</td>
                        </tr>
                        <tr>
                            <td>Inferior</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <td>Superior</td>
                            <td rowspan="2">0</td>
                            <td>0.00</td>
                            <td rowspan="2">0.00</td>
                        </tr>
                        <tr>
                            <td>Inferior</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <td>Superior</td>
                            <td rowspan="2">0</td>
                            <td>0.00</td>
                            <td rowspan="2">0.00</td>
                        </tr>
                        <tr>
                            <td>Inferior</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <td>Superior</td>
                            <td rowspan="2">0</td>
                            <td>0.00</td>
                            <td rowspan="2">0.00</td>
                        </tr>
                        <tr>
                            <td>Inferior</td>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <td>Superior</td>
                            <td rowspan="2">0</td>
                            <td>0.00</td>
                            <td rowspan="2">0.00</td>
                        </tr>
                        <tr>
                            <td>Inferior</td>
                            <td>0.00</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="grid-item">
                <div class="title-container">
                    <h4 class="title" id="idTableInt">Caras de medición de interiores</h4>
                </div>
                <table class="table-external" aria-describedby="idTableInt">
                    <thead>
                        <tr>
                            <th rowspan="2">Puntos</th>
                            <th class="head-nominal-name">Valor nominal</th>
                            <th class="head-lecture-name">Lectura actual</th>
                            <th>Desviación</th>
                        </tr>
                        <tr>
                            <th>(mm)</th>
                            <th>(mm)</th>
                            <th>(μm)</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Superior</td>
                            <td rowspan="2">0</td>
                            <td>0.00</td>
                            <td rowspan="2">0.00</td>
                        </tr>
                        <tr>
                            <td>Inferior</td>
                            <td>0.00</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <!-- footer -->
        <div class="grid-four-columns">

            <div class="grid-item-dash-line"></div>
            <div class="grid-item-line"></div>

            <div class="grid-item-address">
                <p>Bello horizonte VI etapa, casa #135. De la iglesia Pio X, 350 m al este. Managua, Nicaragua</p>
            </div>

            <div class="grid-item-email-web-page">
                <div class="grid-item"></div>
                <div class="grid-item" style="text-align: right;"><b>Email:</b> info@metrocal.com.ni</div>
                <div class="grid-item"><b>Web:</b> www.metrocal.com.ni</div>
                <div class="grid-item" style="text-align: end;">Página 1 de 2</div>
            </div>

            <div class="grid-item-phone-id">
                <div class="grid-item"><b>Teléfono:</b> (505) 2249 0758 <p style="margin: 0;">v3 Ap NI-MCPR-20 v1
                        2020-12-01
                    <p>
                </div>
            </div>

        </div>

    </div>
</body>

</html>